<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/createuser/index.php?{{ urlQuery }}">Create User</a>
                    <span>/</span>
                    <a href="https://internal.{{ domain }}/adsl/index.php?{{ urlQuery }}">DSL</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/InfoUser/default.asp?{{ urlQuery }}">Users</a>
                    <span>/</span>
                    <a href="https://nexxia.{{ domain }}/?{{ urlQuery }}">Tickets</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/InfoGeneral/default.asp?{{ urlQuery }}">General Search</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/conndebug/index.php?{{ urlQuery }}">Debugging</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/antispam/index.php?{{ urlQuery }}">Antispam</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/reactivate/index.php?{{ urlQuery }}">Reactivate</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/payproc/?{{ urlQuery }}">Pay Process</a>
                    <span>/</span>
                    <a href="https://www.{{ domain }}/scripts/internal/PayProc/Pay.asp?{{ urlQuery }}">Old</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/UserInvoice/default.asp?{{ urlQuery }}">User Invoices</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/createuser/updateuser.php?{{ urlQuery }}">Update</a>
                    <span>/</span>
                    <a href="https://www.{{ domain }}/scripts/internal/UserFile/UsersPlans.asp?{{ urlQuery }}">Plans</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/OutstandingTransactions/default.asp?{{ urlQuery }}">Outstanding Issues</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/netstats/index.php?{{ urlQuery }}">Connection Time</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/TerminateUser/default.asp?{{ urlQuery }}">End Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/RestoreUserAccount/default.asp?{{ urlQuery }}">Restore Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/blockaccount/index.php?{{ urlQuery }}">Block Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/payproc/processcc.php?{{ urlQuery }}">Process CC</a>
                    <span>/</span>
                    <a href="https://www.{{ domain }}/scripts/internal/ProcessCC/default.asp?{{ urlQuery }}">Old</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/SecondaryMailAccounts/default.asp?{{ urlQuery }}">Additional Email</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/calllogs/index.php?{{ urlQuery }}">
                        Call Logs
                    </a>
                    <span>/</span>
                    <a href="https://internal.{{ domain }}/troublereporter/">
                        Outages
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/iplocator/index.php?{{ urlQuery }}">
                        Locate IP
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/billinglist/?{{ urlQuery }}">
                        Billing Reminders
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/ForceChgPass/default.asp?{{ urlQuery }}">
                        Change Pass
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/latepayments/?{{ urlQuery }}">
                        Late Payments
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/UserInvoice/UpdateInvoice.asp?{{ urlQuery }}">
                        Update Invoice
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/WebHostMaint/index.php?{{ urlQuery }}">
                        Web Hosting
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/HowTo/HowTo.asp?SelectLanguage=F">
                        HowTo
                    </a>
                    <span>/</span>
                    <a href="https://internal.{{ domain }}/support/">
                        TechSup
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/tellocator/index.php?{{ urlQuery }}">
                        Locate Tel
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.{{ domain }}/verifypass/index.php?{{ urlQuery }}">
                        Verify Password
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/quote/CustomInvoice.asp?{{ urlQuery }}">
                        Payment Receipt
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.{{ domain }}/scripts/internal/Delinquents/AuthenticatedUpdates.asp?{{ urlQuery }}">
                        Auto Updates
                    </a>
                </div>
                <!-- nav-link -->
            </li>
        </ul>
    </div>
    <!-- row -->
</div>
<!-- container -->
<div class="border border-bottom border-danger">
</div>
