<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/createuser/index.php?MYARGS">Create User</a>
                    <span>/</span>
                    <a href="https://internal.example.com/adsl/index.php?MYARGS">DSL</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/InfoUser/default.asp?MYARGS">Users</a>
                    <span>/</span>
                    <a href="https://nexxia.example.com/?MYARGS">Tickets</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/InfoGeneral/default.asp?MYARGS">General Search</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/conndebug/index.php?MYARGS">Debugging</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/antispam/index.php?MYARGS">Antispam</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/reactivate/index.php?MYARGS">Reactivate</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/payproc/?MYARGS">Pay Process</a>
                    <span>/</span>
                    <a href="https://www.example.com/scripts/internal/PayProc/Pay.asp?MYARGS">Old</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/UserInvoice/default.asp?MYARGS">User Invoices</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/createuser/updateuser.php?MYARGS">Update</a>
                    <span>/</span>
                    <a href="https://www.example.com/scripts/internal/UserFile/UsersPlans.asp?MYARGS">Plans</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/OutstandingTransactions/default.asp?MYARGS">Outstanding Issues</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/netstats/index.php?MYARGS">Connection Time</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/TerminateUser/default.asp?MYARGS">End Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/RestoreUserAccount/default.asp?MYARGS">Restore Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/blockaccount/index.php?MYARGS">Block Account</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/payproc/processcc.php?MYARGS">Process CC</a>
                    <span>/</span>
                    <a href="https://www.example.com/scripts/internal/ProcessCC/default.asp?MYARGS">Old</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/SecondaryMailAccounts/default.asp?MYARGS">Additional Email</a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/calllogs/index.php?MYARGS">
                        Call Logs
                    </a>
                    <span>/</span>
                    <a href="https://internal.example.com/troublereporter/">
                        Outages
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/iplocator/index.php?MYARGS">
                        Locate IP
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/billinglist/?MYARGS">
                        Billing Reminders
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/ForceChgPass/default.asp?MYARGS">
                        Change Pass
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/latepayments/?MYARGS">
                        Late Payments
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="w-100 d-none d-sm-block">
                <!-- use 7 columns for screens bigger than -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/UserInvoice/UpdateInvoice.asp?MYARGS">
                        Update Invoice
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/WebHostMaint/index.php?MYARGS">
                        Web Hosting
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/HowTo/HowTo.asp?SelectLanguage=F">
                        HowTo
                    </a>
                    <span>/</span>
                    <a href="https://internal.example.com/support/">
                        TechSup
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/tellocator/index.php?MYARGS">
                        Locate Tel
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://internal.example.com/verifypass/index.php?MYARGS">
                        Verify Password
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/quote/CustomInvoice.asp?MYARGS">
                        Payment Receipt
                    </a>
                </div>
                <!-- nav-link -->
            </li>
            <li class="nav-item col p-0">
                <div class="nav-link p-0 border">
                    <a href="https://www.example.com/scripts/internal/Delinquents/AuthenticatedUpdates.asp?MYARGS">
                        Auto Updates
                    </a>
                </div>
                <!-- nav-link -->
            </li>
        </ul>
    </div>
    <!-- row -->
</div>
<!-- container -->
<div class="border border-bottom border-danger">
</div>
