{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}

    <h2>Search Login</h2>
    <form method="post">
    {# {{ form.csrf_token }} #}
    {{ render_form_row([form.loginName, form.submit], form_type="horizontal", col_map={'loginName': 'col-sm-11', 'submit': 'col-sm-1'}) }}
    </form>

    {#
    <h2>Render a form with render_form</h2>
    {{ render_form(form) }}

    <h2>Custom buttons with button_map</h2>
    <form method="post">
    {{ form.csrf_token }}
    {{ render_field(form.loginName) }}
    {{ render_field(form.password) }}
    {{ render_field(form.remember) }}
    {{ render_field(form.submit) }}
    </form>

    <h2>Render a form with render_form_row</h2>
    <form method="post">
    {{ form.csrf_token }}
    {{ render_form_row([form.loginName, form.password]) }}
    {{ render_form_row([form.loginName, form.password], col_map={'loginName': 'col-md-6', 'password': 'col-md-4'}) }}
    {{ render_form_row([form.loginName, form.password], col_map={'loginName': 'col-md-2', 'password': 'col-md-8'}) }}
    {{ render_form_row([form.loginName, form.password], col_class_default='col-md-2') }}
    {{ render_form_row([form.remember]) }}
    {{ render_form_row([form.submit]) }}
    </form>
    #}


{% endblock %}
